<!-- Odwolanie do	layout.html.twig -->
{% extends "ProjektBundle::layout.html.twig" %}

{% block title %}
	<title>Wypożyczalnia filmów</title>
{% endblock %}

{% block header %}
	<!-- Wyswietlenie tytulu strony gluwnej oraz krotkiego opisu dzialania strony -->
	<header class="row">
		<div class="jumbotron">
			<h1>Wypożyczalnia filmów</h1> 
			<p>Serwis filmowy dla prawdziwych kinomaniaków. Dzięki nam dowiesz się, które filmy online warto zobaczyć. <br>Przeczytasz u nas obszerne recenzje, obejrzysz filmiki online oraz zobaczysz najlepsze zdjęcia z filmu.</p>  
		</div>
	</header>
{% endblock %}

{% block menu %}
	<!-- Trzy przyciski gluwnego menu strony wyporzyczalni internetowej  -->
	<div class="btn-group btn-group-lg">
		<a href="#" class="btn btn-info" role="button">Strona główna</a>
		<a href="#" class="btn btn-info" role="button">Zaloguj się</a>
		<a href="#" class="btn btn-info" role="button">Zarejestruj się</a>
	</div>		
	<br>
	<br>
	<div class="row">
		<!-- Menu strony gluwnej - wybieranie grupy filmow-->
		<div class="col-md-4">
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Dostępne filmy</h4>
					<p class="list-group-item-text">Możliwe do wypożyczenia</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Popularne filmy</h4>
					<p class="list-group-item-text">Filmy ...</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Filmy najczęściej recenzowane</h4>
					<p class="list-group-item-text">Filmy ....</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Wyszukiwanie filmów</h4>
					<p class="list-group-item-text">Wyszukiwanie filmów według gatunku ...</p>
				</a>
			</div>
		</div>
		<!-- Wyswietlenie wybranej kategorij filmow obok menu strony gluwnej-->
		<div class="col-md-8">
			<div class="row">
			{% block filmy %}
			{% endblock %}						
			</div>
		</div>
	</div>
{% endblock %}