<html>
	<head>
		<!-- W tym bloku bedzie umieszczony tytul strony -->
		{% block title %}
		{% endblock %}
		
		<!-- Standart kodowania znakow to UTF-8 -->
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{asset('bundles/projekt/css/bootstrap.css')}}">
		
	</head>
	
	<body>
		<div class="container">
		
			<!-- W bloku header bedzie zamieszany naglulek strony -->
			{% block header %}
			{% endblock %}
			
			<!-- W bloku menu bedzie zamieszczone menu strony gluwnej -->
			{% block menu %}
			{% endblock %}
			
			<!-- W bloku content bedzie zamieszczone gluwne dane strony -->
			{% block content %}
			{% endblock %}
			
			
			<footer class="row">
					<p>(c) Copyright Volodina Tetiana</p>
			</footer>
			
		</div>
	</body>
</html>