<!-- Odwolanie do	gatunki.html.twig ~~> bars.html.twig ~~> layout.html.twig -->
{% extends "ProjektBundle::gatunki.html.twig" %}

{% block gatunek %}
<h3>Gatunek </h3>
	
	<div class="col-md-3">
		<div href="" class="thumbnail">
			<img src="Tulips.jpg" alt="Pulpit Rock">
			<p><a href="#" class="list-group-item">Nazwa filmu</a></p>
		</div>
	</div>
	
	tut maje buty jakyjs php
	
{% endblock %}