<!-- Odwolanie do	bars.html.twig ~~> layout.html.twig -->
{% extends "ProjektBundle::bars.html.twig" %}

{% block filmy %}
	<h2>Filmy wedlug gatunku<small>wybierz gatunek</small></h2>
	
	<!-- Lista gatunkuw filmow -->
	<div class="list-group">
		<a href="#" class="list-group-item">First item</a>
		<a href="#" class="list-group-item">Second item</a>
		<a href="#" class="list-group-item">Third item</a>
	</div>
	<br>
	<!-- Tutaj beda wyswietlane filmy z wybranego gatunku filmow powyzej -->
	{% block gatunek %}
	{% endblock %}
	
{% endblock %}	